body {
    font: 100% 宋体， 新宋体;
    background: #666666;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}

#header {
    height: 60px;
    background: #DDDDDD;
    padding: 0 10px 0 20px;
}

#header h1 {
    margin: 0;
    padding: 10px 0;
}

#main-content {
    margin: 0 200px;
    padding: 0 10px;
}

#container {
    position: relative;
    width: 780px;
    background: #FFFFFF;
    margin: 0 auto;
    border: 1px solid #000000;
    text-align: left;
}

#sidebar-1 {
    position: absolute;
    top: 60px;
    left: 0;
    width: 150px;
    background: #EBEBEB;
    padding: 15px 10px 15px 20px;
}

#sidebar-2 {
    position: absolute;
    top: 60px;
    right: 0;
    width: 150px;
    background: #EBEBEB;
    padding: 15px 10px 15px 10px;
}
#footer {
    padding: 0 10px 0 20px;
    background: #DDDDDD;
}

#footer p{
    margin: 0;
    padding: 10px 0;
}
