.iconButton {
    color: white
}

.toolBar {
    padding: 0;
    display: flex;
}

.icons {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
}

.gameIcon {
    height: 80%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00d1d2;
    border-radius: 50%;
}

.gridIcon {
    display: flex;
}

@media screen and (max-width: 300px) {
    .icons {
        display: none;
    }
}