.iconButton {
    color: white
}

.toolBar {
    padding: 0;
}

.icons {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

.gameIcon {
    height: 80%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00d1d2;
    border-radius: 50%;
}

.gridIcon {
    display: flex;
}